.slider-part img{
    width: 90%;
    height: 800px;
    text-align: center;
    position: relative;
}

.prev-arr{
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 9999999999;
    color: white;
    font-size: 25px;
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
    
}

.nxt-arr{
    position: absolute;
    bottom: 50%;
    right: 15px;
    z-index: 9999999999999;
    color: white;
    font-size: 25px;
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
    
}